Q.1  In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

Answer : *,-,/,+ are the mathematical operators.
    * = multipication, - = substraction, / = division , + = addition

In [4]:
type("Hello")

str

In [5]:
type(6)

int

"Hello" and 6 are the values or expressions. As "Hello" is a string and 6 is an integer.

Q.2 What is the difference between string and variable?

Answer :
String is a data type in python as like integers or float.
example :

In [6]:
s = "India"
type(s)

str

Variable is symbolic name that is reference to an object.
In simple words, we assign a name to an object.
example:

In [8]:
# "india"
s = "India"

Q. 3. Describe three different data types.

Data types: Integers, float, string, boolean, Tuple, dictionary,

Q.4. What is an expression made up of? What do all expressions do?

Answer : An expression is a construct made up of variables, operators, constructed according to the syntax

Q. 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

Answer : An expression is something that can be reduce to a value.for example 1+3 is an expression and it returns 4.

In [10]:
1+3

4

Statement : A statement is something that cannot reduce to a value. example "ab = 1+3" it doesn't work, so it's a statement.

In [11]:
"ab = 1+3"

'ab = 1+3'

Q. 6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

In [13]:
# Answer
bacon = 22
bacon + 1

23

Q. 7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3

In [14]:
"spam"+"spamspam"

'spamspamspam'

In [15]:
"spam"*3

'spamspamspam'

Q. 8. Why is eggs a valid variable name while 100 is invalid?

Answer : As the rules of defining a variable, variable name should starts with alphabets(a-z,or A-Z) or underscore (_).A variable name should have numbers at the end or in between variable name
A variable name should not starts with numbers(0-9),
A variable name never have operators (*,/,@,$,&,>,<).
It also not allows to use,punctuation marks to define variable names (. , : ; " ').

In [43]:
eggs = 20
eggs

20

In [48]:
100 = 10

SyntaxError: cannot assign to literal (Temp/ipykernel_6896/2666396822.py, line 1)

Q. 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

In [49]:
int(12.3)

12

In [50]:
float(12)

12.0

In [51]:
str(10)

'10'

Q. 10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'

In [54]:
Answer :
"I have eaten" +" 99 " + "burritos."

'I have eaten 99 burritos.'